<html>

<head>
  <title>Welcome</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>

<body>
  <div style="margin:100px;"></div>
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <a class="navbar-brand" href="/">Welcome</a>
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/packages">View Package Details</a>
        </li>
        <li>
          <a href="/bookings">View Booking Details</a>
        </li>
        <li>
          <a href="/users">View User Details</a>
        </li>
        <li>
          <a href="/user/logout">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="col-sm-6 col-sm-offset-3">
    <form action="/packages/search" method="post">
      <input type="text" size="80" name="location" placeholder="enter place name" >
      <input type="submit" value="Search Packages" class="submitButton">
    </form>
    <div class="jumbotron text-center">
      <p>View Tour packages</p>
         
      <div>
        <h4 style="color: blue">Package Id: <%= package.packageId %></h4>
        <h5 style="color: red">Place Name: <%= package.placeName %></h5>
        <h5 style="color: red">No.of Adults: <%= package.noofAdults %></h5>
        <h5 style="color: red"> No.of Children: <%= package.noofChildren %></h5>
        <h5 style="color: red">Description: <%= package.description %></h5>
        <h5 style="color: red">Stay Amount: <%= package.stayAmount %></h5>
        <h5 style="color: red">Food Amount: <%= package.foodAmount %></h5>
        <h5 style="color: red">Bus Amount: <%= package.busAmount %></h5>
        <h5 style="color: red">Train Amount: <%= package.trainAmount %></h5>
        <h5 style="color: red">Airlines Amount: <%= package.airlinesAmount %></h5>
        <h5 style="color: red">No.of Days: <%= package.noofDays %></h5>
        <h5 style="color: red">No.of Nights: <%= package.noofNights %></h5>
      </div>
    
      <form action='/bookings/<%= package.packageId %>' method="post">
        <button type="submit" class="btn btn-warning btn-lg">Book</button>
      </form>
  

    </div>
  </div>
  </div>
</body>

</html>